body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: url("/Imagenes/fondobt.png") no-repeat center center fixed;
    background-size: cover;
}

/*Contenedor del formulario*/
.containerr {
    background: rgba(0, 0, 0, 0.9); 
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    box-shadow: 0px 0px 30px rgba(0, 102, 255, 0.8); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Título principal*/
.title {
    color: #007bff;
    margin-bottom: 20px;
    font-size: 28px;
}

/*Formularios*/
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    font-size: 17px;
    color: #ddd;
}

input {
    padding: 12px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
}

/* Botones discretos y azules */
.btn-neon {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2);
}

.btn-neon:hover {
    background: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 123, 255, 0.4);
}
.btn-neon:active {
    transform: translateY(0);
}

/*Registrarse / Iniciar sesión (Texto extra de abajo) */
.extra {
    margin-top: 10px;
    font-size: 16px;
    color: #ccc;
}

.extra a {
    color: #007bff;
    text-decoration: none;
}

.extra a:hover {
    text-decoration: underline;
}
