@import "tailwindcss";

@theme {
  --color-primary: #8519d2;
  --color-dark-bg: #0a0a0f;
}

@custom-variant dark (&:where(.dark, .dark *));


* {
  @apply transition-colors duration-300;
}

@layer base {
  html {
    font-size: 19px; /* Sube el estándar de 16px a 17px o 18px */
  }
}